<h1 mat-dialog-title>Add Employee Form</h1>
<div mat-dialog-content>
    <form [formGroup]="employeeForm">
    <mat-form-field appearance="outline">
        <mat-label>Employee ID</mat-label>
        <input formControlName="employeeId" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName"matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email ID</mat-label>
        <input formControlName="emailId" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Salary</mat-label>
        <input formControlName="salary" matInput placeholder="Placeholder">
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left:8px ;" mat-raised-button color="primary" (click)="addEmployee()">{{actionBtn}}</button>

</div>